

* {
    box-sizing: border-box;
}
body{
    background-color:rgb(231, 229, 229);
    margin: 0;
}
header{
    background-color: rgb(241, 135, 153);
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
}

.links-container a{
    font-size: 20px;
    font-weight: 2px;
    font-family: cursive;
}

img.icon{
    height: 50px;
    width: 50px;
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin: 8px;
}
img.icon:hover{
    cursor: pointer;
}
.main-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.lines-container{
    display: flex;
    /* width: 80%; */
}

.editor-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
    width: 46%;
    height: 80%;
    padding: 10px;
    border-radius: 17px;
}

.canvas-container {
    align-items: center;
    width: 38%;
    /* width: 500px; */
    display: flex;
    height: 400px;
}

#my-canvas {
    margin: 0 auto;
    /* max-width: 100%; */
    border: 1px solid #000000;
    border-radius: 17px;
}

.button-container {
    display: flex;
    align-items:center;
}

.share-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.emoji-container{
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #fff;
    width: 340px;
    border-radius: 10px;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}
.emoji-container img{
    width: 32px;
    height: 30px
}
.emoji-container img:hover{
    cursor: pointer;
}
.emoji-container .emoji{
    font-size: 36px;
}
.emoji-container .emoji:hover{
    cursor: pointer;

}


textarea {
    /* max-width: 90%;
    min-width: 90%; */
    height: 4rem;
    width: 350px;
    /* max-height: 4rem; */
    border: 1px solid white;
    border-radius: 10px;
    margin:0 auto;
    font-family: impact, sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: rgb(175, 170, 177);
    /* color: black; */
    padding: 12px;
    
}

.publish {
    background-color: rgb(21, 21, 168)
}

.impact {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.courier-New {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.Pacifico {
    font-family: 'Pacifico', cursive
}

#select-font {
    height: 50px;
    width: 116px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 3px;
    margin: 8px;
}

#font-size {
    height: 35px;
    width: 100px;
    border-radius: 4px;
}
#size {
    margin: 10px;
    color: black;
  }
  
.uploud{
    width: 107px;
  }
.uploud input{
    width: 100%;
}  

#line-choose{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

@media screen and (max-width:740px){
    .main-container{
        flex-direction: column;
        height: 700px;
        justify-content: space-around;
    }
    .canvas-container{
        width: 93%;
        width: 500px;
    }

    .editor-container{
        width: 93%;
        height: 400px;
    }
}
